.create-real-estate-main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  border: solid green 2px;
}
.real-estate-inputs {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-inputs-main {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-left: 30px;
}
.real-estate-inputs2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inner-inputs2 {
  width: 30%;
}
.details-input {
  display: flex;
}
.detail {
  margin-right: 10px;
  margin-left: 10px;
}
.CreateEstateIndexMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CreateEstateIndexMainHeader {
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-formik {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.CreateEstateLeft {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 45%; /* Adjust the width as needed */
}

.CreateEstateRight {
  justify-content: flex-start;
  width: 45%; /* Adjust the width as needed */
  margin-right: 25%;
  width: fit-content;
}
.myInput3 {
  width: 40%; /* Set the width of the input as per your requirement */
  margin-top: 10px;
  margin-bottom: 20px;
}
.check-boxes2 {
  display: flex;
}
.small-input {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}
.small-inputs-main {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1500px) {
  .small-inputs-main {
    width: 70%;
  }
  .small-input {
    width: 70%;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .myInput3 {
    width: 70%; /* Set the width of the input as per your requirement */
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .CreateEstateRight {
    width: 45%; /* Adjust the width as needed */
    margin-left: 10%;
  }
  .CreateEstateLeft {
    width: 55%; /* Adjust the width as needed */
  }
}
